
<!-- footer start -->
<footer>
	<div class="footer-subscribe-area pad-60">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="subscribe-us text-center">
						<h4>NEWSLETTER</h4>
						<span>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien
							lacus, eu posuere odi </span>
						<form action="#">
							<input type="email" placeholder="Enter your email address">
							<button type="submit">SEND ME</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer-top-area start -->
	<div class="footer-top-area">
		<div class="container">
			<div class="row">
				<!-- footer-widget start -->
				<div class="col-lg-3 col-md-3 col-sm-4 footer-marg">
					<div class="footer-widget">
						<h3>ABOUT US</h3>
						<p>Cras ac tempus ipsum etiam eu libero suscipit. Zolutpat ante a malesuada nunc, junc sit
							amet elementum est semper leo vel ante vestibulum </p>
						<div class="social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<!-- footer-widget end -->
				<!-- footer-widget start -->
				<div class="col-lg-2 col-md-2 hidden-md hidden-sm footer-marg">
					<div class="footer-widget">
						<h3>OUR INFORMATION</h3>
						<ul class="footer-menu">
							<li><a href="#">Return Policy</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Site Map</a></li>
							<li><a href="#">Store Hours</a></li>
						</ul>
					</div>
				</div>
				<!-- footer-widget end -->
				<!-- footer-widget start -->
				<div class="col-lg-2 col-md-3 col-sm-4 hidden-sm footer-marg">
					<div class="footer-widget">
						<h3>MY ACCOUNT</h3>
						<ul class="footer-menu">
							<li><a href="#">Delivery</a></li>
							<li><a href="#">Payment</a></li>
							<li><a href="#">Return Policy</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">About Us</a></li>
						</ul>
					</div>
				</div>
				<!-- footer-widget end -->
				<!-- footer-widget start -->
				<div class="col-lg-2 col-md-3 col-sm-4 footer-marg">
					<div class="footer-widget">
						<h3>Our services</h3>
						<ul class="footer-menu">
							<li><a href="#">Shipping & Returns</a></li>
							<li><a href="#">Secure Shopping</a></li>
							<li><a href="#">International Shipping</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
				<!-- footer-widget end -->
				<!-- footer-widget start -->
				<div class="col-lg-3 col-md-3 col-sm-4 footer-marg">
					<div class="footer-widget">
						<h3>Our instagram</h3>
						<ul class="instagram-thumb">
							<li><a href="#"><img alt="" src="assets/img/instagram/thumbnail1.jpg"></a></li>
							<li><a href="#"><img alt="" src="assets/img/instagram/thumbnail2.jpg"></a></li>
							<li><a href="#"><img alt="" src="assets/img/instagram/thumbnail3.jpg"></a></li>
							<li><a href="#"><img alt="" src="assets/img/instagram/thumbnail4.jpg"></a></li>
							<li><a href="#"><img alt="" src="assets/img/instagram/thumbnail5.jpg"></a></li>
							<li><a href="#"><img alt="" src="assets/img/instagram/thumbnail6.jpg"></a></li>
						</ul>
					</div>
				</div>
				<!-- footer-widget end -->
			</div>
		</div>
	</div>
	<!-- footer-top-area end -->
	<!-- footer-bottom-area start -->
	<div class="footer-bottom-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="copyright">
						<p>Copyright © <a href="#">Richman</a>. All Rights Reserved</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="payment-img">
						<img src="assets/img/payment.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer-bottom-area end -->
</footer>
<!-- footer end -->


<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">x</span></button>
			</div>
			<div class="modal-body">
				<div class="modal-img">
					<a href="shop.html"><img src="assets/img/product/1.jpg" alt="" /></a>
				</div>
				<div class="modal-pro-content">
					<h3><a href="single-product.html">Phasellus Vel Hendrerit</a></h3>
					<div class="pro-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
					</div>
					<span>(2 customer reviews)</span>
					<div class="price">
						<span>$70.00</span>
						<span class="old">$80.11</span>
					</div>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
						Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
					<form action="#">
						<input type="number" value="1" />
						<button>Add to cart</button>
					</form>
					<div class="product_meta">
						<span class="posted_in">Categories: <a rel="tag" href="#">Albums</a>, <a rel="tag"
								href="#">Music</a></span> <span class="tagged_as">Tags: <a rel="tag"
								href="#">Albums</a>, <a rel="tag" href="#">Music</a></span>
					</div>
					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal end -->