   <!--//================Breadcrumb section start==============//-->
   <section>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <div class="page-header-heading padB10">
                            <h3>login</h3>
                        </div>
                        <div class="breadcrum-box">
                            <ul class="breadcrum">
                                <li><a href="index-2.html">home</a></li>
                                <li class="active"><a href="#">login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Breadcrumb section end==============//-->
<!--//================Your account section start==============//-->
<div class="account-box padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="loginForm log-in-xs">
                    <div class="login-box" id="loginbox">
                        <h4>login</h4>
                        <form class="login-form">
                            <label>email address</label>
                            <input type="text" placeholder="email address">
                            <label>password</label>
                            <input type="password" placeholder="password">
                        </form>
                        <p><a class="view-password"><i>forget your password?</i></a></p>
                        <a href="#" class="template-button"><i class="fa fa-lock marR10" aria-hidden="true"></i>sign in</a>
                    </div>
                    <div class="forget-password" style="display:none;" id="forget">
                        <h4>reset your password</h4>
                        <p>We will send you an email to reset your password</p>
                        <form class="login-form">
                            <label>email address</label>
                            <input type="text" placeholder="email address">
                        </form>
                        <p><a class="template-button">submit</a></p>
                        <p class="backto"><a class="template-button"><i class="fa fa-long-arrow-left marR10" aria-hidden="true"></i>back to login</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="loginForm">
                    <div class="create-account">
                        <h4>create account</h4>
                        <p>By creating an account on our website you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.</p>
                        <a href="register.html" class="template-button"><i class="fa fa-user marR10" aria-hidden="true"></i>create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Your account section end==============//-->
<!--//================Scroll section start==============//-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="scroll-top">
            <div id="stop" class="scrollTop">
                <span><a href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>
</div>
<!--//================Scroll section end==============//-->