   <!--//================Breadcrumb section start==============//-->
   <section>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <div class="page-header-heading padB10">
                            <h3>login</h3>
                        </div>
                        <div class="breadcrum-box">
                            <ul class="breadcrum">
                                <li><a routerLink="/">Trang chủ</a></li>
                                <li class="active"><a routerLink="/">đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Breadcrumb section end==============//-->
<!--//================Your account section start==============//-->
<div class="account-box padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="loginForm log-in-xs">
                    <div class="login-box" id="loginbox">
                        <form formGroup="loginForm" (ngSubmit)="onSubmitLogin(loginForm.value)">
                        <h4><b>đăng nhập</b></h4>
                        <form class="login-form">
                            <p>   
                                <label>email <span>*</span></label>
                                <input formControlName="username" type="text" required>
                                <span class="col alert alert-danger" role="alert"
                                *ngIf="(loginForm.controls.username?.errors?.required
                                && loginForm.controls.username?.touched) && loginForm.controls.username?.touched" >
                                        Tài khoản không được để rỗng!
                                </span>
                             </p>
                             <p>   
                                <label>Passwords <span>*</span></label>
                                <input formControlName="password" type="password">
                                <span class="col alert alert-danger" role="alert"
                                *ngIf="(!loginForm.controls.password?.errors?.required
                                && loginForm.controls.password?.touched && loginForm.controls.password?.errors?.minlength) && loginForm.controls.password?.touched">
                                        Mật khẩu không được để rỗng và độ dài mật khẩu phải lớn hơn 6 ký tự!
                                </span> 
                             </p>  
                        </form>
                        <p><a class="view-password"><i>Quên mật khẩu?</i></a></p>
                        <button class="template-button"><i class="fa fa-lock marR10" aria-hidden="true"></i>đăng nhập</button>
                        </form>
                    </div>
                    <div class="forget-password" style="display:none;" id="forget">
                        <h4>ĐẶT LẠI MẬT KHẨU CỦA BẠN?</h4>
                        <p>Chúng tôi sẽ gửi cho bạn một email để đặt lại mật khẩu của bạn</p>
                        <form class="login-form">
                            <label>email</label>
                            <input type="text" placeholder="email address">
                        </form>
                        <p><a class="template-button">Đặt Lại</a></p>
                        <p class="backto"><a class="template-button"><i routerLink="/login" class="fa fa-long-arrow-left marR10" aria-hidden="true"></i>Trở lại đăng nhập</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="loginForm">
                    <div class="create-account">
                        <h4>bạn Chưa có tài khoản?</h4>
                        <p>Bằng cách tạo một tài khoản trên trang web của chúng tôi, bạn sẽ có thể mua sắm nhanh hơn, cập nhật trạng thái đơn hàng và theo dõi các đơn hàng bạn đã thực hiện trước đó.</p>
                        <a routerLink="/register" class="template-button"><i class="fa fa-user marR10" aria-hidden="true"></i>Đăng ký ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Your account section end==============//-->
<!--//================Scroll section start==============//-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="scroll-top">
            <div id="stop" class="scrollTop">
                <span><a href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>
</div>
<!--//================Scroll section end==============//-->