  <!--//================Breadcrumb section start==============//-->
  <section>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <div class="page-header-heading padB10">
                            <h3>contact us</h3>
                        </div>
                        <div class="breadcrum-box">
                            <ul class="breadcrum">
                                <li><a href="index-2.html">home</a></li>
                                <li class="active"><a href="#">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Breadcrumb section end==============//-->
<!--//================Contact section start==============//-->
<div class="contact-section padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 padB60">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-location-box contact-location-xs">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h4>our location</h4>
                            <p>12,Civil Line dewas,near Chamunda<br>Complex dewas(M.P) 455001</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-location-box contact-location-xs">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h4>our contact</h4>
                            <p>12,Civil Line dewas,near Chamunda<br>Complex dewas(M.P) 455001</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-location-box">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h4>our email</h4>
                            <p>12,Civil Line dewas,near Chamunda<br>Complex dewas(M.P) 455001</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="location-map">
                    <h4>our location</h4>
                    <div id="gmap_canvas" class="marT30"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="message-section contact-message">
                    <h4>leave us message</h4>
                    <div class="col-md-12 col-sm-12 col-xs-12 marT30">
                        <div class="row">
                            <p>
                                <label>first name</label>
                                <input type="text" placeholder="Enter First Name">
                            </p>
                            <p>
                                <label>email address</label>
                                <input type="text" placeholder="Enter Email Address">
                            </p>
                            <p>
                                <label>phone</label>
                                <input type="text" placeholder="Enter Phone Number">
                            </p>
                            <p>
                                <label>message</label>
                                <textarea cols="10" rows="5" placeholder="Enter Message"></textarea>
                            </p>
                            <a href="#" class="template-button">Send Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Contact section end==============//-->
<!--//================Scroll section start==============//-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="scroll-top">
            <div id="stop" class="scrollTop">
                <span><a href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>
</div>
<!--//================Scroll section end==============//-->