
<!-- contact-area start -->
<div class="contact-area pad-60">
    <div class="container">
      	
        <div class="row">
            <div class="col-md-4">				
                <div class="contact-info">
                    <div class="message-title">
                        <h1>Address</h1>
                    </div>							
                    <div class="single-contact">
                        <p>
                            <label>Address</label>
                            Chicago, IL, 55030, 8500 Grand Street
                        </p>
                        <p>
                            <label>Phone number</label>
                            0800 123 4567
                        </p>
                        <p>
                            <label>Shop Hours</label>
                            Monday - Friday 10AM - 8PM 
                        </p>	
                        <p>
                            <label>Email</label>
                            Admin@company.com
                        </p>								
                    </div>
                </div>
            </div>					
            <div class="col-md-8">
                <div class="contact-form">
                    <div class="message-title">
                        <h1>drop us a message</h1>
                    </div>
                    <div class="row">
                        <form action="http://cmslab.net/demos/html/richman-preview/richman/mail.php" method="POST">			
                            <div class="input-filed">
                                <div class="col-md-4">
                                    <input name="name" type="text" placeholder="Your Name"/>
                                    <input name="email" type="text" placeholder="Your Email"/>
                                    <input name="subject" type="text" placeholder="Your Subject"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="contact-textarea">
                                    <textarea name="message" id="Message" cols="30" rows="10" placeholder="Message"></textarea>
                                    <input type="submit" value="submit"/>
                                </div>								
                            </div>
                        </form>						
                    </div>
                </div>
            </div>				
        </div>
    </div>
</div>
<!-- contact-area end -->	
<!-- about-area start -->
<div class="about-area pad-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title marg-50  text-center">
                    <h2>We are Richman </h2>
                    <img src="assets/img/section-title.png" alt="" />
                </div>					
            </div>
        </div>			
        <div class="row">
            <div class="col-md-5">
                <div class="about-img">
                    <img src="assets/img/about1.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-text">
                    <p>In nec neque semper, commodo purus facilisis, vehicula magna. Etiam neque massa, tempor vitae tempus eu, pellentesque nec velit. Duis quis elementum lacus. Etiam molestie nisl est, in sagittis quam suscipit at. Cras convallis, purus ut placerat malesuada, neque lectus pharetra est, ac euismod nisl ipsum faucibus velit. Donec interdum egestas lacus, ac vestibulum ipsum rhoncus nec. Donec sem libero, tristique non ex sit amet, pharetra viverra urna. Ut venenatis, purus porttitor fermentum sollicitudin, lorem eros bibendum urna, vel tristique lectus arcu ut mauris.</p>
                    <p>Proin in odio et ligula elementum fermentum vitae quis felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p class="text-left">- Team Richman</p>
                </div>						
            </div>
        </div>
    </div>
</div>
<!-- about-area end -->	
<!-- testimonial-area start -->
<div class="testimonial-area pad-60">
    <div class="container">		
        <div class="row">
            <div class="col-md-12">				
                <div class="testimonial-carousel">
                    <div class="single-testimonial text-center">
                        <p><span class="quotes"><i class="fa fa-quote-left"></i></span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam. <span class="quotes"><i class="fa fa-quote-right" ></i></span></p>
                        <div class="client-info">
                            <span class="name">John Doe - CEO Apple</span>
                        </div>
                    </div>
                    <div class="single-testimonial text-center">
                        <p><span class="quotes"><i class="fa fa-quote-left"></i></span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam. <span class="quotes"><i class="fa fa-quote-right" ></i></span></p>
                        <div class="client-info">
                            <span class="name">John Doe - CEO Apple</span>
                        </div>
                    </div>
                    <div class="single-testimonial text-center">
                        <p><span class="quotes"><i class="fa fa-quote-left"></i></span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam. <span class="quotes"><i class="fa fa-quote-right" ></i></span></p>
                        <div class="client-info">
                            <span class="name">John Doe - CEO Apple</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area end -->	
<!-- team-area start -->
<div class="team-area pad-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title marg-50  text-center">
                    <h2> Meet the team </h2>
                    <img src="assets/img/section-title.png" alt="" />
                </div>					
            </div>
        </div>					
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="team-item">
                    <div class="team">
                        <div class="content">
                            <div class="avatar">
                                <img alt="" src="assets/img/team/2.jpg">
                            </div>
                            <h3 class="name">Wang Jing</h3>
                            <span class="position">Creative Web Designer</span>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="team-item">
                    <div class="team">
                        <div class="content">
                            <div class="avatar">
                                <img alt="" src="assets/img/team/1.jpg">
                            </div>
                            <h3 class="name">jon brot</h3>
                            <span class="position">Creative Web Designer</span>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="team-item">
                    <div class="team">
                        <div class="content">
                            <div class="avatar">
                                <img alt="" src="assets/img/team/3.jpg">
                            </div>
                            <h3 class="name">breet fly</h3>
                            <span class="position">Creative Web Designer</span>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="team-item">
                    <div class="team">
                        <div class="content">
                            <div class="avatar">
                                <img alt="" src="assets/img/team/4.jpg">
                            </div>
                            <h3 class="name">jon border</h3>
                            <span class="position">Creative Web Designer</span>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team-area start -->