<div class="header-top-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="top-info">
					<p>SĐT LIÊN HỆ : (+84) 6 888 888</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="top-nav">
					<div class="currency dropdown">
						<ul>
							<li><a href="#">VNĐ</a>
								<ul>
									<li><a href="#">USD</a></li>
									<li><a href="#">EUR</a></li>
									<li><a href="#">GBP</a></li>
									<li><a href="#">JPY</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="language dropdown">
						<ul>
							<li><a href="#">Việt Nam</a>
								<ul>
									<li><a href="#">ENGLISH</a></li>
									<li><a href="#">FRANCE</a></li>
									<li><a href="#">GERMANY</a></li>
									<li><a href="#">JAPANESE</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="account">
						<a class="login" routerLink="/login">Đăng Nhập </a>
						<span> Or </span>
						<a class="register" routerLink="/login"> Đăng Ký</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header-bottom-area start -->
<div id="sticker" class="header-bottom-area">
	<div class="container">
		<div class="inner-container">
			<div class="row">
				<div class="col-md-2 col-sm-4 col-xs-6">
					<div class="logo">
						<a routerLink="/home"><img style="with: 115px; height: 115px; border-radius: 100px;" src="assets/img/logovip.png" alt="" /></a>
					</div>
				</div>
				<div class="col-md-8 hidden-xs hidden-sm">
					<div class="main-menu">
						<nav>
							<ul>
								<li><a routerLink="/home">Trang Chủ</a></li>
								<li><a routerLink="/list/:id">Danh Mục</a>
									<div class="mega-menu mega-menu-2">
										<span>
											<a href="shop.html" class="mega-title">WOMEN CLOTH </a>
											<a href="shop.html">casual shirt</a>
											<a href="shop.html">rikke t-shirt</a>
											<a href="shop.html">mia top </a>
											<a href="shop.html">muscle tee </a>
										</span>
										<span>
											<a href="shop.html" class="mega-title">MEN CLOTH </a>
											<a href="shop.html">casual shirt</a>
											<a href="shop.html">rikke t-shirt</a>
											<a href="shop.html">mia top </a>
											<a href="shop.html">muscle tee </a>
										</span>
										<span class="no-padd-r">
											<a href="shop.html" class="mega-title">WOMEN JEWELRY </a>
											<a href="shop.html">necklace </a>
											<a href="shop.html">chunky short striped </a>
											<a href="shop.html">samhar cuff</a>
											<a href="shop.html">nail set </a>
										</span>
										<span class="mega-menu-img">
											<a href="shop.html"><img alt="" src="assets/img/customblock-1.jpg"></a>
										</span>
									</div>
								</li>
								<li><a routerLink="/blog">blog</a>
									<ul>
										<li><a href="blog.html">blog left sidebar</a></li>
										<li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
										<li><a href="blog-2-column.html">blog 2 column</a></li>
										<li><a href="blog-3-column.html">blog 3 column</a></li>
										<li><a href="single-blog.html">single blog</a></li>
										<li><a href="single-blog-video.html">single blog video</a></li>
									</ul>
								</li>
								<li><a routerLink="/contact">Liên Hệ</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-md-2 col-sm-8 col-xs-6 header-right">
					<div class="my-cart">
						<div class="total-cart">
							<a routerLink="/cart">
								<img src="assets/img/cart/cart.png" alt="" />
								<span>3</span>
							</a>
						</div>
						<ul>
							<li>
								<div class="cart-img">
									<a href="#"><img alt="" src="assets/img/cart/1.jpg"></a>
								</div>
								<div class="cart-info">
									<h4><a href="#">Vestibulum suscipit</a></h4>
									<span>£165.00 <span>x 1</span></span>
								</div>
								<div class="del-icon">
									<i class="fa fa-times-circle"></i>
								</div>
							</li>
							<li>
								<div class="cart-img">
									<a href="#"><img alt="" src="assets/img/cart/1.jpg"></a>
								</div>
								<div class="cart-info">
									<h4><a href="#">Vestibulum suscipit</a></h4>
									<span>£165.00 <span>x 1</span></span>
								</div>
								<div class="del-icon">
									<i class="fa fa-times-circle"></i>
								</div>
							</li>
							<li>
								<div class="cart-img">
									<a href="#"><img alt="" src="assets/img/cart/1.jpg"></a>
								</div>
								<div class="cart-info">
									<h4><a href="#">Vestibulum suscipit</a></h4>
									<span>£165.00 <span>x 1</span></span>
								</div>
								<div class="del-icon">
									<i class="fa fa-times-circle"></i>
								</div>
							</li>
							<li class="cart-border">
								<div class="subtotal-text">Subtotal: </div>
								<div class="subtotal-price">£300.00</div>
							</li>
							<li>
								<a class="cart-button" href="checkout.html">view cart</a>
								<a class="checkout" href="checkout.html">checkout</a>
							</li>
						</ul>
					</div>

					<div class="header-search">
						<!-- SEARCH BAR -->
						<div class="dropdown">
							<a href="javascript:void(0);" class="search-open">
								<img src="assets/img/search.png" alt="" />
							</a>
							<div class="search-inside animated bounceInUp"> <i
									class="icon-close search-close fa fa-times"></i>
								<div class="search-overlay"></div>
								<div class="position-center-center">
									<div class="search">
										<form>
											<input type="search" placeholder="Search Shop">
											<button type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header-bottom-area end -->


