   <!--//================Breadcrumb section start==============//-->
   <section>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading">
                        <div class="page-header-heading padB10">
                            <h3>our collection</h3>
                        </div>
                        <div class="breadcrum-box">
                            <ul class="breadcrum">
                                <li><a href="index-2.html">home</a></li>
                                <li class="active"><a href="#">our collection</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Breadcrumb section end==============//-->
<!--//================Collection Product section start==============//-->
<div class="product-collection-section padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="list-item">
                            <h4>men</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque non nulla nulla, nec tincidunt risus morbi ultricies est ditae odio ultrices imperdiet. Cras accumsan dorci maces consequat blandi susto dusto elementum libero non honcus purus sem sit amet enim</p>
                        </div>
                    </div>
                </div>
                <div class="per-page-pdoduct">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="list-item-product list-item-box list-item-small">
                                <a class="product_grid"><i class="fa fa-th" aria-hidden="true"></i></a>
                                <a class="product_list"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                                <p>item 1 to 15 of 15 item</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="list-product list-item-product list-item-box list-item-select">
                                <p>show</p>
                                <select name="number-of-page">
                                    <option value="">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                                <p>per page</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="shot_by list-item-product list-item-box list-item-feature">
                                <select name="featured">
                                    <option value="">Featured</option>
                                    <option value="2">shot by name</option>
                                    <option value="3">shot by size</option>
                                    <option value="4">shot by color</option>
                                </select>
                                <p>shot by</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="best_product" id="collection_box">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12 marB30">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="assets/images/best-product/product-1.jpg" alt="">
                                                <figcaption>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a routerLink="/detail/:id">Cras in nunc non ipsum duo</a></h4>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <span>$90.00<del>$55.00</del></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="product-button">
                                        <a href="#" class="template-button">view all</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="best-product-deatil" style="display:none;" id="collection_sidebar_list">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 marB30">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="assets/images/best-product/product-1.jpg" alt="">
                                                <figcaption>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6 col-xs12">
                                    <div class="short-description">
                                        <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                        <span class="acme">Acme</span>
                                        <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis.Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. <span class="hidden-sm">Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...</span></p>
                                        <ul class="cloth-rating">
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                        </ul>
                                        <p>$90.00 <del>$55.00</del></p>
                                        <a href="product-detail.html" class="template-button">select option</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 marB30">
                            <div class="grid-border">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="arrival-image">
                                            <div class="arrival-image-overlay">
                                                <figure>
                                                    <span class="overlay-two"></span>
                                                    <img src="assets/images/best-product/product-2.jpg" alt="">
                                                    <figcaption>
                                                        <p><span class="new-sale">new</span></p>
                                                        <ul class="cart-icon">
                                                            <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                            <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs12">
                                        <div class="short-description">
                                            <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                            <span class="acme">Acme</span>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. <span class="hidden-sm">Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...</span></p>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <p>$90.00 <del>$55.00</del></p>
                                            <a href="product-detail.html" class="template-button">select option</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 marB30">
                            <div class="grid-border">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="arrival-image">
                                            <div class="arrival-image-overlay">
                                                <figure>
                                                    <span class="overlay-two"></span>
                                                    <img src="assets/images/best-product/product-3.jpg" alt="">
                                                    <figcaption>
                                                        <p><span class="sale-product">sale</span></p>
                                                        <ul class="cart-icon">
                                                            <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                            <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs12">
                                        <div class="short-description">
                                            <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                            <span class="acme">Acme</span>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. <span class="hidden-sm"> Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...</span></p>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <p>$90.00 <del>$55.00</del></p>
                                            <a href="product-detail.html" class="template-button">select option</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 marB30">
                            <div class="grid-border">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="arrival-image">
                                            <div class="arrival-image-overlay">
                                                <figure>
                                                    <span class="overlay-two"></span>
                                                    <img src="assets/images/best-product/product-4.jpg" alt="">
                                                    <figcaption>
                                                        <ul class="cart-icon">
                                                            <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                            <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs12">
                                        <div class="short-description">
                                            <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                            <span class="acme">Acme</span>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. <span class="hidden-sm"> Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...</span></p>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <p>$90.00 <del>$55.00</del></p>
                                            <a href="product-detail.html" class="template-button">select option</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 marB30">
                            <div class="grid-border">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="arrival-image">
                                            <div class="arrival-image-overlay">
                                                <figure>
                                                    <span class="overlay-two"></span>
                                                    <img src="assets/images/best-product/product-5.jpg" alt="">
                                                    <figcaption>
                                                        <p><span class="new-sale">new</span></p>
                                                        <ul class="cart-icon">
                                                            <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                            <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs12">
                                        <div class="short-description">
                                            <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                            <span class="acme">Acme</span>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. <span class="hidden-sm"> Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...</span></p>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <p>$90.00 <del>$55.00</del></p>
                                            <a href="product-detail.html" class="template-button">select option</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 marB30">
                            <div class="grid-border">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="arrival-image">
                                            <div class="arrival-image-overlay">
                                                <figure>
                                                    <span class="overlay-two"></span>
                                                    <img src="assets/images/best-product/product-6.jpg" alt="">
                                                    <figcaption>
                                                        <ul class="cart-icon">
                                                            <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                            <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs12">
                                        <div class="short-description">
                                            <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                            <span class="acme">Acme</span>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. <span class="hidden-sm"> Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...</span></p>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <p>$90.00 <del>$55.00</del></p>
                                            <a href="product-detail.html" class="template-button">select option</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 marB30">
                            <div class="grid-border">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="arrival-image">
                                            <div class="arrival-image-overlay">
                                                <figure>
                                                    <span class="overlay-two"></span>
                                                    <img src="assets/images/best-product/product-7.jpg" alt="">
                                                    <figcaption>
                                                        <ul class="cart-icon">
                                                            <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                            <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs12">
                                        <div class="short-description">
                                            <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                            <span class="acme">Acme</span>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. <span class="hidden-sm">Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...</span></p>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <p>$90.00 <del>$55.00</del></p>
                                            <a href="product-detail.html" class="template-button">select option</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="grid-border">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="arrival-image">
                                            <div class="arrival-image-overlay">
                                                <figure>
                                                    <span class="overlay-two"></span>
                                                    <img src="assets/images/best-product/product-8.jpg" alt="">
                                                    <figcaption>
                                                        <p><span class="sale-product">sale</span></p>
                                                        <ul class="cart-icon">
                                                            <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                            <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs12">
                                        <div class="short-description">
                                            <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                            <span class="acme">Acme</span>
                                            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. <span class="hidden-sm">Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...</span></p>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <p>$90.00 <del>$55.00</del></p>
                                            <a href="product-detail.html" class="template-button">select option</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="categories-section">
                    <h4>categories</h4>
                    <ul class="widget-content">
                        <li><a href="#">bags & accessories</a></li>
                        <li><a href="#">comos de milano</a></li>
                        <li><a href="#">lorem et dorus</a></li>
                        <li><a href="#">lynn cosmopolis</a></li>
                        <li class="active"><a href="#"> men</a></li>
                        <li><a href="#">milancelos a lanos</a></li>
                        <li><a href="#">new in</a></li>
                        <li><a href="#">nor loremirus</a></li>
                        <li><a href="#">sale & special offers</a></li>
                        <li><a href="#">top brands</a></li>
                        <li><a href="#">women</a></li>
                    </ul>
                </div>
                <div class="color-section">
                    <h4 class="oncolor">color</h4>
                    <ul class="color-list">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="size-section">
                    <h4 class="onsize">size</h4>
                    <ul class="size-list">
                        <li><input type="checkbox" id="xs"><label for="xs">xs</label></li>
                        <li><input type="checkbox" id="s"><label for="s">s</label></li>
                        <li><input type="checkbox" id="m"><label for="m">m</label></li>
                        <li><input type="checkbox" id="l"><label for="l">l</label></li>
                        <li><input type="checkbox" id="xl"><label for="xl">xl</label></li>
                    </ul>
                </div>
                <div class="price-section">
                    <h4 class="onprice">price</h4>
                    <ul class="price-list">
                        <li><input type="checkbox" id="under"><label for="under">under $100</label></li>
                        <li><input type="checkbox" id="mid"><label for="mid">$100-$200</label></li>
                        <li><input type="checkbox" id="above"><label for="above">above $200</label></li>
                    </ul>
                </div>
                <div class="brand-section">
                    <h4 class="onbrand">brand</h4>
                    <ul class="brand-list">
                        <li><input type="checkbox" id="chanel"><label for="chanel">chanel</label></li>
                        <li><input type="checkbox" id="dior"><label for="dior">dior</label></li>
                        <li><input type="checkbox" id="gap"><label for="gap">gap</label></li>
                        <li><input type="checkbox" id="lucci"><label for="lucci">lucci</label></li>
                        <li><input type="checkbox" id="louis"><label for="louis">louis</label></li>
                    </ul>
                </div>
                <div class="featured-product">
                    <h5>featured products</h5>
                    <div id="sidebar_collection" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="assets/images/best-product/product-1.jpg" alt="">
                                                <figcaption>
                                                    <p><span class="new-sale">new</span></p>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a href="#">Cras in nunc non ipsum duo</a></h4>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <span>$90.00<del>$55.00</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="assets/images/best-product/product-2.jpg" alt="">
                                                <figcaption>
                                                    <p><span class="new-sale">new</span></p>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a href="#">Cras in nunc non ipsum duo</a></h4>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <span>$90.00<del>$55.00</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="assets/images/best-product/product-3.jpg" alt="">
                                                <figcaption>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a href="#">Cras in nunc non ipsum duo</a></h4>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <span>$90.00<del>$55.00</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coustom-section">
                    <h4>custom cms block</h4>
                    <p><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy<span class="hidden-sm"> text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Scroll section start==============//-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="scroll-top">
            <div id="stop" class="scrollTop">
                <span><a href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>
</div>
<!--//================Scroll section end==============//-->