<!-- page-title-area start -->
<div class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-heading text-center">
                    <h1>OUR SHOP WITH left SIDEBAR</h1>
                    <p>We are a featured brand that calls itself fashion</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-title-area end -->
<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-list">
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="shop.html">shop</a></li>
                        <li><span>men</span></li>
                    </ul>							
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- shop-area start -->
<div class="shop-area">
    <div class="container">
        <div class="row">
            <!-- left-sidebar start -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <!-- widget-categories start -->
                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">Categories</h3>
                    <ul class="sidebar-menu">
                        <li><a href="#">Clothes</a> <span class="count">(14)</span></li>
                        <li><a href="#">Men</a> <span class="count">(9)</span></li>
                        <li><a href="#">Shoes</a> <span class="count">(2)</span></li>
                        <li><a href="#">Sunglasses</a> <span class="count">(2)</span></li>
                        <li><a href="#">Women</a> <span class="count">(8)</span></li>
                    </ul>
                </aside>
                <!-- widget-categories end -->
                <!-- shop-filter start -->
                <aside class="widget shop-filter">
                    <h3 class="sidebar-title">Filter selection</h3>
                    <div class="info_widget">
                        <div class="price_filter">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                                <input type="submit"  value="Filter"/>  
                            </div>
                        </div>
                    </div>							
                </aside>
                <!-- shop-filter end -->
                <!-- filter-by start -->
                <aside class="widget filter-by">
                    <h3 class="sidebar-title">Product price</h3>
                    <ul class="sidebar-menu">
                        <li><a href="#">L</a> <span class="count">(1)</span></li>
                        <li><a href="#">M</a> <span class="count">(1)</span></li>
                        <li><a href="#">S</a> <span class="count">(1)</span></li>
                        <li><a href="#">XL</a> <span class="count">(1)</span></li>
                        <li><a href="#">XXL</a> <span class="count">(1)</span></li>
                    </ul>						
                </aside>
                <!-- filter-by end -->
                <!-- widget start -->
                <aside class="widget filter-by">
                    <h3 class="sidebar-title">Color</h3>
                    <ul class="sidebar-menu">
                        <li><a href="#">Black</a> <span class="count">(1)</span></li>
                        <li><a href="#">White</a> <span class="count">(8)</span></li>
                        <li><a href="#">Orange</a> <span class="count">(5)</span></li>
                        <li><a href="#">Blue</a> <span class="count">(7)</span></li>
                        <li><a href="#">Yellow</a> <span class="count">(11)</span></li>
                        <li><a href="#">Brown</a> <span class="count">(16)</span></li>
                        <li><a href="#">red</a> <span class="count">(9)</span></li>
                    </ul>						
                </aside>
                <!-- widget end -->
                <!-- widget start -->
                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">Recent Product</h3>
                    <div class="recent-product">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="assets/img/product/12.jpg" alt="" />
                                    <img class="secondary-img" src="assets/img/product/18.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                <div class="price">
                                    <span>$80.00</span>
                                    <span class="old">$90.11</span>
                                </div>
                            </div>
                        </div>	
                        <div class="single-product">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="assets/img/product/22.jpg" alt="" />
                                    <img class="secondary-img" src="assets/img/product/18.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                <div class="price">
                                    <span>$80.00</span>
                                    <span class="old">$90.11</span>
                                </div>
                            </div>
                        </div>	
                        <div class="single-product">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="assets/img/product/14.jpg" alt="" />
                                    <img class="secondary-img" src="assets/img/product/18.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                <div class="price">
                                    <span>$80.00</span>
                                    <span class="old">$90.11</span>
                                </div>
                            </div>
                        </div>							
                    </div>
                </aside>
                <!-- widget end -->						
                <!-- widget-tags start -->
                <aside class="widget product-tag">
                    <h3 class="sidebar-title">Popular Tags</h3>
                    <ul>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Collection</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">men</a></li>
                        <li><a href="#">gallery</a></li>
                        <li><a href="#">new</a></li>
                        <li><a href="#">Collection men</a></li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Collection</a></li>										
                        <li><a href="#">best</a></li>
                        <li><a href="shop.html">cloth</a></li>
                    </ul>
                </aside>
                <!-- widget-tags end -->						
            </div>
            <!-- left-sidebar end -->
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="shop-content">					
                    <!-- Nav tabs -->
                    <ul class="shop-tab" role="tablist">
                        <li><span class="sorting-name"> View as:  </span></li>
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th" aria-hidden="true"></i></a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="short-by">
                        <span class="sorting-show"> Sort by:</span>
                        <select>
                            <option value="volvo">popularity</option>
                            <option value="saab">Default</option>
                            <option value="mercedes">average rating</option>
                            <option value="audi">newness</option>
                            <option value="audi">low to high</option>
                            <option value="audi">high to low</option>
                        </select>							
                    </div>
                    <div class="shop-show">
                        <span class="sorting-show"> Show:</span>
                        <select>
                            <option value="volvo">9</option>
                            <option value="saab">10</option>
                            <option value="mercedes">11</option>
                            <option value="audi">12</option>
                            <option value="audi">15</option>
                            <option value="audi">16</option>
                        </select>
                    </div>
                    <div class="shop-breadcrumb">
                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>

                    <div class="clear"></div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                <!-- single-product start -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="assets/img/product/1.jpg" alt="" />
                                                <img class="secondary-img" src="assets/img/product/2.jpg" alt="" />
                                            </a>
                                            <span class="tag-line">new</span>
                                            <div class="product-action">
                                                <div class="button-top">
                                                    <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a>
                                                    <a href="#" ><i class="fa fa-heart"></i></a>
                                                </div>
                                                <div class="button-cart">
                                                    <button><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="pro-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <h3><a routerLink="/detail/:id">Phasellus Vel Hendrerit</a></h3>
                                            <div class="price">
                                                <span>$70.00</span>
                                                <span class="old">$80.11</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->
<!-- brand-area start -->
<div class="brand-area pad-b-60">
    <div class="container">
        <div class="brand-inner-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Our brand</h2>
                        <img src="assets/img/section-title.png" alt="" />
                    </div>					
                </div>
            </div>								
            <div class="row">
                <div class="brand-curosel">
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#"><img src="assets/img/brand/1.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area end -->
