<!--//================Preloder start==============//-->
<div class="preloder-section">
    <div class="loaderArea">
        <div class="loader">
            <h1>VT SHOP</h1>
            <div class="loaderSquare"></div>
            <h2>Chào Mừng Quý Khách Hàng !</h2>
        </div>
    </div>
</div>
<!--//================Preloder end==============//-->
<!--//================Header section start==============//-->
<header>
    <div class="main-hrader">
        <div class="container">
            <div class="row">
                <div class="top-bar padTB20">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="top-bar-register padTB10">
                            <h6><a routerLink="/login">Đăng Nhập</a><span></span><a routerLink="/register"> Đăng Ký</a></h6>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <figure class="logo">
                            <a href="index-2.html"><img style="width: 125px; height: 125px; border-radius: 100px;" src="assets/images/logovip3.png" alt=""></a>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="usd">
                            <select name="usd">
                                <option value="USD">USD</option>
                                <option value="INR">INR</option>
                                <option value="CAD">CAD</option>
                                <option value="USD">USD</option>
                                <option value="AUD">AUD</option>
                                <option value="EUR">EUR</option>
                                <option value="JPY">JPY</option>
                            </select>
                            <select name="language">
                                <option value="eng">English</option>
                                <option value="french">French</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_menu">
        <div id="main-menu" class="wa-main-menu">
            <!-- Menu -->
            <div class="wathemes-menu relative">
                <!-- navbar -->
                <div class="navbar navbar-default theme-bg mar0" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="row">
                                    <div class="navbar-header">
                                        <!-- Button For Responsive toggle -->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span> 
                                        <span class="icon-bar"></span> 
                                        <span class="icon-bar"></span> 
                                        <span class="icon-bar"></span>
                                        </button> 
                                    </div>
                                    <!-- Navbar Collapse -->
                                    <div class="navbar-collapse collapse">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <!-- nav -->
                                            <ul class="nav navbar-nav">
                                                <li>
                                                    <a routerLink="/" class="header-menu-one">Trang Chủ<i aria-hidden="true"></i></a>
                                                </li>
                                                <li class="mega-menu">
                                                    <a routerLink="/list/:id" class="header-menu-one" data-toggle="dropdown">Danh mục<i class="fa fa-caret-down marL5" aria-hidden="true"></i></a>
                                                    <ul class="dropdown-menu sm-nowrap">
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-md-7 col-sm-7 col-xs-12">
                                                                    <div class="col-sm-4 col-xs-12">
                                                                        <div class="title">
                                                                            <h4>Áo Thun</h4>
                                                                            <div class="page-links">
                                                                                <div>
                                                                                    <a href="#"> Jackets</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#"> Sweaters</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#">Tees</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#"> Bras & Tanks</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-xs-12">
                                                                        <div class="title">
                                                                            <h4>Áo Sơ Mi</h4>
                                                                            <div class="page-links">
                                                                                <div>
                                                                                    <a href="#"> Jackets</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#"> Sweaters</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#">Tees</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#"> Bras & Tanks</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-xs-12">
                                                                        <div class="title">
                                                                            <h4>Quần Dài</h4>
                                                                            <div class="page-links">
                                                                                <div>
                                                                                    <a href="#"> Jackets</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#"> Sweaters</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#">Tees</a>
                                                                                </div>
                                                                                <div>
                                                                                    <a href="#"> Bras & Tanks</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                        <figure class="menu-image zoom-effect">
                                                                            <img src="assets/images/all-image/menu-image-one.jpg" alt="">
                                                                            <figcaption>
                                                                                <div class="menu-image-text">
                                                                                    <h3>shop the bags</h3>
                                                                                    <a href="#" class="template-button">shop now</a>
                                                                                </div>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a routerLink="/blog" class="header-menu-one">blog<i aria-hidden="true"></i></a> 
                                                </li>
                                                <li>
                                                    <a routerLink="/gioithieu" class="header-menu-one">Giới thiệu<i aria-hidden="true"></i></a> 
                                                </li>
                                                <li><a routerLink="/contact" class="header-menu-one">contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- navbar-collapse -->
                            </div>
                            <!-- col-md-10 -->
                            <div class="col-md-2 col-sm-2 col-xs-6 shopping-cart-section">
                                <div class="shopping-cart-icon">
                                    <ul>
                                        <li><a href="#" class="search-click"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                        <li><a routerLink="/cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </div>
                <!--navbar -->
                <div id="search-open" class="top-search">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="input-group"> <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" placeholder="Search">
                                <a class="input-group-addon close-search search-close"><i class="fa fa-times"></i></a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Menu -->
        </div>
    </div>
</header>
<!--//================Header section end==============//-->

<router-outlet></router-outlet>

<!--//================Footer section start==============//-->
<div class="footer-section footer_fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="footer-box">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-one footer-first-box">
                                <h5>about faraway</h5>
                                <p><span class="faraway">faraway</span> Website Builder is a big library designed web elements which help you create website .</p>
                                <p><span class="working-time">working hours : monday-saturday</span></p>
                                <p class="marB0"><span class="working-time">close : sunday</span></p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="footer-box-two footer-first-box footer-res">
                                <h5>information</h5>
                                <ul class="footer-services">
                                    <li><a href="#">about us</a></li>
                                    <li><a href="#">service</a></li>
                                    <li><a href="#">blog</a></li>
                                    <li><a href="#">sellers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div class="footer-box-two footer-res">
                                <h5>store</h5>
                                <ul class="footer-services">
                                    <li><a href="#">accessories</a></li>
                                    <li><a href="#">new in</a></li>
                                    <li><a href="#">women</a></li>
                                    <li><a href="#">top brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="footer-box-two footer-res">
                                <h5>my account</h5>
                                <ul class="footer-services">
                                    <li><a href="#">sign in</a></li>
                                    <li><a href="#">view cart</a></li>
                                    <li><a href="#">my wishlist</a></li>
                                    <li><a href="#">help</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-7 col-xs-12">
                            <div class="footer-box-right footer-box-two">
                                <h5>newsletter</h5>
                                <p>Sign up for our mailing list to get the latest updates and offers.</p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter your email address" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                                </div>
                                <ul class="footer-social-icon">
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="footer-gallery">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div id="footer_slider" class="owl-carousel owl-theme">
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-3.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-4.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-5.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-6.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-7.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-8.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-9.jpg" alt="">
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="assets/images/footer/footer-slider-10.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <p><a href="#">@ faraway on instagram</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-last-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-8 col-xs-12">
                    <div class="footer-last-text">
                        <ul class="footer-menu">
                            <li><a href="#">about us</a></li>
                            <li><a href="#">help & FAQs </a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                        <p>&copy; 2017 FARAWAY. Theme by Desideals4u. Website Template by HTML</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-4 col-xs-12">
                    <div class="footer-last-right">
                        <figure>
                            <img src="assets/images/footer/payment-icons.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Footer section end==============//-->
<!--//================Quick view section start==============//-->
<div class="quick-vive-popap">
    <div class="container">
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg" >
                <div class="Quick-view-popup modal-content text-left">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="col-md-12 col-xs-12 popap-open-box">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 marB30">
                                        <figure>
                                            <img src="assets/images/best-product/product-3.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 responsive-top">
                                <h3 class="theme-headdings text-left  product-detail-title s"><a href="#">Your Product Title</a></h3>
                                <div class="product-rating">
                                    <ul>
                                        <li>
                                            <a href="#">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">3 review(s)</a></li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                                <div class="per-box texy-left marT15">
                                    <p>Morbi mollis vestibulum sollicitudin. in eros a justo facilisis rutrum. Aenean id ullamcorper libero. tempor et purus vitae, consectetur varius nunc.</p>
                                </div>
                                <div class="product-detail-btn  padT15">
                                    <div class="form-row col-sm-5 col-xs-12 country-boxs billing-box select ">
                                        <div class="row">
                                            <p>
                                                <label for="billing_state28">Material</label>
                                                <select class="billing_state28" id="billing_state28" name="billing_state">
                                                    <option value="">Select Color</option>
                                                    <option value="AP">Red</option>
                                                    <option value="AR">Blue</option>
                                                    <option value="AS">Green</option>
                                                    <option value="BR">Yellow</option>
                                                    <option value="CT">Black</option>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-row col-sm-5 country-boxs billing-box select down ">
                                        <div class="row ">
                                            <p>
                                                <label for="billing_state27">Brands</label>
                                                <select class="billg_state" id="billing_state27" name="billing_state">
                                                    <option value="">Select Brands</option>
                                                    <option value="AP">PTM</option>
                                                    <option value="AR">Clara</option>
                                                    <option value="AS">Ziveg</option>
                                                    <option value="BR">Clara</option>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-7 row">
                                    <div class="order-data box order-table ">
                                        <div class="order-table-cell order-text product-input-type">
                                            <input type="number" value="01" class="qty" name="qty1">		
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-5 product-box-btm-blog row">
                                    <a href="#" class="template-button light pro btn left marT">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
