<!-- page-title-area start -->
<div class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-heading text-center">
                    <h1>BLOG WITH Left SIDEBAR</h1>
                    <p>We are a featured brand that calls itself fashion</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-title-area end -->
<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-list">
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="index.html">blog</a></li>
                        <li><span>Blog left sidebar</span></li>
                    </ul>							
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- blog-area start -->
<div class="blog-area pad-60">
    <div class="container">
        <div class="row">
            <!-- left-sidebar start -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <!-- widget start -->
                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">Search</h3>
                    <div class="search-form">
                        <form action="#">
                            <input type="text" placeholder="search">
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>							
                </aside>
                <!-- widget end -->					
                <!-- widget-categories start -->
                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">Categories</h3>
                    <ul class="sidebar-menu">
                        <li><a href="#">Clothes</a> <span class="count">(14)</span></li>
                        <li><a href="#">Men</a> <span class="count">(9)</span></li>
                        <li><a href="#">Shoes</a> <span class="count">(2)</span></li>
                        <li><a href="#">Sunglasses</a> <span class="count">(2)</span></li>
                        <li><a href="#">Women</a> <span class="count">(8)</span></li>
                    </ul>
                </aside>
                <!-- widget-categories end -->	
                <!-- widget start -->
                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">Recent Product</h3>
                    <div class="recent-product">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="assets/img/product/12.jpg" alt="" />
                                    <img class="secondary-img" src="assets/img/product/18.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                <div class="price">
                                    <span>$80.00</span>
                                    <span class="old">$90.11</span>
                                </div>
                            </div>
                        </div>	
                        <div class="single-product">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="assets/img/product/22.jpg" alt="" />
                                    <img class="secondary-img" src="assets/img/product/18.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                <div class="price">
                                    <span>$80.00</span>
                                    <span class="old">$90.11</span>
                                </div>
                            </div>
                        </div>	
                        <div class="single-product">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="assets/img/product/14.jpg" alt="" />
                                    <img class="secondary-img" src="assets/img/product/18.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">Lorem ipsum dolor</a></h3>
                                <div class="price">
                                    <span>$80.00</span>
                                    <span class="old">$90.11</span>
                                </div>
                            </div>
                        </div>							
                    </div>
                </aside>
                <!-- widget end -->							
                <!-- filter-by start -->
                <aside class="widget filter-by">
                    <h3 class="sidebar-title">Product price</h3>
                    <ul class="sidebar-menu">
                        <li><a href="#">L</a> <span class="count">(1)</span></li>
                        <li><a href="#">M</a> <span class="count">(1)</span></li>
                        <li><a href="#">S</a> <span class="count">(1)</span></li>
                        <li><a href="#">XL</a> <span class="count">(1)</span></li>
                        <li><a href="#">XXL</a> <span class="count">(1)</span></li>
                    </ul>						
                </aside>
                <!-- filter-by end -->
                <!-- widget start -->
                <aside class="widget filter-by">
                    <h3 class="sidebar-title">Color</h3>
                    <ul class="sidebar-menu">
                        <li><a href="#">Black</a> <span class="count">(1)</span></li>
                        <li><a href="#">White</a> <span class="count">(8)</span></li>
                        <li><a href="#">Orange</a> <span class="count">(5)</span></li>
                        <li><a href="#">Blue</a> <span class="count">(7)</span></li>
                        <li><a href="#">Yellow</a> <span class="count">(11)</span></li>
                        <li><a href="#">Brown</a> <span class="count">(16)</span></li>
                        <li><a href="#">red</a> <span class="count">(9)</span></li>
                    </ul>						
                </aside>
                <!-- widget end -->					
                <!-- widget-tags start -->
                <aside class="widget product-tag">
                    <h3 class="sidebar-title">Popular Tags</h3>
                    <ul>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Collection</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">men</a></li>
                        <li><a href="#">gallery</a></li>
                        <li><a href="#">new</a></li>
                        <li><a href="#">Collection men</a></li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Collection</a></li>										
                        <li><a href="#">best</a></li>
                        <li><a href="shop.html">cloth</a></li>
                    </ul>
                </aside>
                <!-- widget-tags end -->							
            </div>
            <!-- left-sidebar end -->	
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="blog-page-main">
                    <div class="blog-wrapper">
                        <div class="blog-img">
                            <a href="single-blog.html"><img src="assets/img/blog/2.jpg" alt="" /></a>
                            <span class="blog-date">sep <br /> 21</span>
                        </div>
                        <div class="blog-content">
                            <h3><a href="single-blog.html">Lorem ipsum dolor sit</a></h3>
                            <div class="blog-meta">
                                <span class="blog-author">By <a href="#">jon doe</a></span>
                                <span class="blog-cat">in <a href="#">men's Style</a></span>
                                <span class="blog-comments">12 <a href="#"> Comments</a></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in .....</p>
                            <a class="read-more" href="#">Read more <i class="fa fa-angle-right"></i> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-wrapper">
                        <div class="blog-img">
                            <a href="single-blog.html"><img src="assets/img/blog/1.jpg" alt="" /></a>
                            <span class="blog-date">sep <br /> 21</span>
                        </div>
                        <div class="blog-content">
                            <h3><a href="single-blog.html">Lorem ipsum dolor sit</a></h3>
                            <div class="blog-meta">
                                <span class="blog-author">By <a href="#">jon doe</a></span>
                                <span class="blog-cat">in <a href="#">men's Style</a></span>
                                <span class="blog-comments">12 <a href="#"> Comments</a></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in .....</p>
                            <a class="read-more" href="#">Read more <i class="fa fa-angle-right"></i> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-wrapper">
                        <div class="blog-img embed-responsive embed-responsive-16by9">
                            <iframe src="assets/img/blog/3.jpg"></iframe>
                            <span class="blog-date">sep <br /> 21</span>
                        </div>
                        <div class="blog-content">
                            <h3><a href="single-blog.html">Lorem ipsum dolor sit</a></h3>
                            <div class="blog-meta">
                                <span class="blog-author">By <a href="#">jon doe</a></span>
                                <span class="blog-cat">in <a href="#">women's Style</a></span>
                                <span class="blog-comments">12 <a href="#"> Comments</a></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in .....</p>
                            <a class="read-more" href="#">Read more <i class="fa fa-angle-right"></i> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-wrapper">
                        <div class="blog-img">
                            <a href="single-blog.html"><img src="assets/img/blog/4.jpg" alt="" /></a>
                            <span class="blog-date">sep <br /> 21</span>
                        </div>
                        <div class="blog-content">
                            <h3><a href="single-blog.html">Lorem ipsum dolor sit</a></h3>
                            <div class="blog-meta">
                                <span class="blog-author">By <a href="#">jon doe</a></span>
                                <span class="blog-cat">in <a href="#">fashion</a></span>
                                <span class="blog-comments">12 <a href="#"> Comments</a></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in .....</p>
                            <a class="read-more" href="#">Read more <i class="fa fa-angle-right"></i> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>					
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="blog-pagination">
                    <div class="shop-breadcrumb">
                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>						
                </div>
            </div>
        </div>			
    </div>
</div>
<!-- blog-area end -->
