 <!--//================Slider section start==============//-->
 <div class="slider-section">
    <div id="slider_one" class="owl-carousel owl-theme">
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="assets/images/slider/home2-slidertwo.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content item-2">
                                    <h4>collection</h4>
                                    <h1>new look fashion</h1>
                                    <a href="#" class="template-button">mua sắm ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="assets/images/slider/slide1.png" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content item-2">
                                    <h4>collection</h4>
                                    <h1>new look fashion</h1>
                                    <a href="#" class="template-button">mua sắm ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-box">
                <figure>
                    <img src="assets/images/slider/home2-sliderone.jpg" alt="">
                </figure>
                <div class="slider-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content item-2">
                                    <h4>collection</h4>
                                    <h1>new look fashion</h1>
                                    <a href="#" class="template-button">mua sắm ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Slider section end==============//-->
<!--//================Mega collection section start==============//-->
<div class="mega-collection-section padTB60">
    <div class="container">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="mega-collection zoom-effect">
                    <figure>
                        <img src="assets/images/all-image/bannerh2-one.jpg" alt="">
                        <figcaption class="mega-collection-box">
                            <h2>mega - sale</h2>
                            <h5>collcetion</h5>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="brand-deatil zoom-effect brand-xs">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <figure>
                                        <img src="assets/images/all-image/news-two.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="brand-collection">
                                        <h4>top brands cloth</h4>
                                        <h5>collection</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="brand-deatil trend-fashion zoom-effect">
                            <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                                <div class="row">
                                    <figure>
                                        <img src="assets/images/all-image/news-four.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="brand-collection fashion-box pull-left">
                                        <h4>trend fashion summer</h4>
                                        <h5>collection</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Mega collection section end==============//-->
<!--//================New arrival section start==============//-->
<div class="new-arrival-section padB60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="journey-heading">
                    <h4><span>Sản Phẩm Khuyến Mại</span></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="slider-two">
                    <div class="row">
                    
                        <div id="new_arrival" class="owl-carousel owl-theme">
                            <ng-container *ngFor="let it of spkm">
                            <div class="item">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="arrival-image">
                                        <div class="arrival-image-overlay">
                                            <figure>
                                                <span class="overlay-two"></span>
                                                <img src="assets/images/{{it.hinhanh}}"alt="">
                                                <figcaption>
                                                    <p><span class="new-sale">new</span></p>
                                                    <ul class="cart-icon">
                                                        <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                        <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="arrival-image-content">
                                            <h4><a routerLink="/detail/{{it.masp}}">{{it.tensp}}</a></h4>
                                            <ul class="cloth-rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <span>{{it.giatien}}<del>{{it.giakm}}</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================New arrival section end==============//-->
<!--//================Banner section start==============//-->
<div class="banner-one">
    <div class="special-style special-style-full">
        <div class="bg-image" style="background-image:url('assets/images/slider/home2-sliderone.jpg');"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-text">
                    <h4>The Latest</h4>
                    <h1>Trending Fashion</h1>
                    <a href="#" class="template-button">shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Banner section end==============//-->
<!--//================Best product section start==============//-->
<div class="best_product padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="journey-heading">
                    <h4><span>best product</span></h4>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="product_menu">
                    <ul>
                        <li><a class="filter-1 wa-button hover-color active" data-filter="all">all</a></li>
                        <li><a class="filter-1 wa-button hover-color" data-filter=".cat1">women</a></li>
                        <li><a class="filter-1 wa-button hover-color" data-filter=".cat2">men</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 padT30">
                <div class="row">
                    <div id="MixItUp1">
                        <ng-container *ngFor="let it of list_item">
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat1">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="assets/images/{{it.hinhanh}}" alt="">
                                        <figcaption>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a routerLink="/detail/{{it.masp}}">{{it.tensp}}</a></h4>
                                    <ul class="cloth-rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                    </ul>
                                    <span>{{it.giatien}}<del>$55.00</del></span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                        <div class="col-md-3 col-sm-6 col-xs-12 marB30 mix cat2">
                            <div class="arrival-image">
                                <div class="arrival-image-overlay">
                                    <figure>
                                        <span class="overlay-two"></span>
                                        <img src="assets/images/best-product/best-1.jpg" alt="">
                                        <figcaption>
                                            <p><span class="new-sale">new</span></p>
                                            <ul class="cart-icon">
                                                <li><a href="#"><span class="add-to-wish">add to wishlist</span><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="add-to-wish">quick view</span><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">buy now</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><span class="add-to-wish">quick link</span><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="arrival-image-content">
                                    <h4><a href="product-detail.html">Cras in nunc non ipsum duo</a></h4>
                                    <ul class="cloth-rating">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                    </ul>
                                    <span>$90.00<del>$55.00</del></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="product-button">
                                <a href="#" class="template-button">view all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Best product section end==============//-->
<!--//================Banner-two section start==============//-->
<div class="banner-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 banner-height">
                <div class="row">
                    <figure class="banner-first-part">
                        <img src="assets/images/blog/blog-3.jpg" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 banner-height">
                <div class="row">
                    <div class="banner-middle-part">
                        <h4>collection</h4>
                        <h1>flat 40-80%off</h1>
                        <a href="#" class="shop-now">shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 banner-height">
                <div class="row">
                    <figure class="banner-first-part">
                        <img src="assets/images/blog/blog-6.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Banner-two section end==============//-->
<!--//================Service section start==============//-->
<div class="service-section padTB60">
    <div class="container">
        <div class="row">
            <div class="service-section-content">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping free-shipping-res">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="assets/images/all-image/shipping-1.jpg" alt="" >
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">free shipping</a></h4>
                            <p>the lorem ipsum generators</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping free-shipping-res">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="assets/images/all-image/shipping-2.jpg" alt="" >
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">premium support</a></h4>
                            <p>the lorem ipsum generators</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="free-shipping">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <figure>
                                <img src="assets/images/all-image/shipping-3.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <h4><a href="#">bonus gifts</a></h4>
                            <p>the lorem ipsum generators</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Slider-two section end==============//-->
<!--//================Scroll section start==============//-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="scroll-top">
            <div id="stop" class="scrollTop">
                <span><a href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>
</div>
<!--//================Scroll section end==============//-->
