 <!--//================Breadcrumb section start==============//-->
 <section>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-heading padTB100">
                        <div class="page-header-heading padB10">
                            <h3>Đăng ký</h3>
                        </div>
                        <div class="breadcrum-box">
                            <ul class="breadcrum">
                                <li><a routerLink="/">trang chủ</a></li>
                                <li class="active"><a routerLink="/register">đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Breadcrumb section end==============//-->
<!--//================Create account section start==============//-->
<div class="account-box padTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                <div class="registerBox">
                    <h4><b>tạo tài khoản của bạn?</b></h4>
                    <form class="register-form">
                        <h4>THÔNG TIN CÁ NHÂN CỦA BẠN</h4>
                        <label>Họ Tên</label>
                        <input type="text" placeholder="Nhập họ tên">
                        <label>Giới tính</label>
                        <input type="text" placeholder="Nhập giới tính">
                        <label>Số điện thoại</label>
                        <input type="number" placeholder="Nhập số điện thoại">
                        <label>email</label>
                        <input type="text" placeholder="Nhập email">
                        <label>password</label>
                        <input type="password" placeholder="Nhập password">
                        <a href="#" class="template-button">Đăng Ký</a>
                        <p><a href="collection-product.html"><i class="fa fa-long-arrow-left marR10" aria-hidden="true"></i>return to store</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//================Create account section end==============//-->
<!--//================Scroll section start==============//-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="scroll-top">
            <div id="stop" class="scrollTop">
                <span><a href="#"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>
</div>
<!--//================Scroll section end==============//-->